*{
    margin: 0;
}
.side-box-1{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.side-box-2{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.nav-1{
    position: absolute;
    top: 100px;
}
.side-box-1 .nav-items li{
    padding-top: 20px;
    list-style: none;
}
.side-box-1 .nav-items li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.side-box-2 .saved li{
    padding-top: 20px;
    list-style: none;
}
.side-box-2 .saved li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.logo{
    position: absolute;
    left: 0;
    top: 10px;
    height: 60px;
    width: 60px;
}
.spotify{
    font-size: 25px;
    position: absolute;
    top: 25px;
    left: 65px;
}
.content-container{
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,0.9223039557619923) 55%, rgba(42,0,88,0.9139005944174545) 88%);
    background-attachment:local;
    color: white;
    width: 100%;
    overflow: scroll;
    padding-bottom: 20px;
}
.good-afternoon, .best, .choice{
    padding-left: 20px;
}
.content-container .headings{
    padding: 30px;
}
.song-names{
    position: relative;
    left: 45px;
    bottom: 20px;
    cursor: pointer;
    
}

.content-container span{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 30px;
}
.content-container .good-afternoon .song{
    background: rgb(21,20,20);
background: linear-gradient(0deg, rgba(21,20,20,1) 0%, rgba(64,33,80,0.950315160243785) 0%);
    width: 400px;
    height: 75px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}
.content-container .best div,.choice div{
    width: 200px;
    height: 300px;
    background: rgb(21,20,20);
background: linear-gradient(0deg, rgba(21,20,20,1) 0%, rgba(49,46,46,1) 0%);
    border-radius: 7px;
    margin: 10px;
    display: inline-block;
}

.side-boxes{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.player-info{
    background-color: #1b1b1b;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    position: absolute;
    color: white;
   border-top: 0.1px solid gray;
   cursor: pointer;
}
.content-container .login-bar .navbar i{
    background-color: rgba(0, 0, 0, 0.642);
    padding: 20px;
    border-radius: 100%;
    line-height: 0.5;
    margin: 5px 5px;
    cursor: pointer;
}
.btn {
    /* background: #c9c9c9; */
    background-image: -webkit-linear-gradient(top, #515161, #515161);
    background-image: -moz-linear-gradient(top, #515161, #515161);
    background-image: -ms-linear-gradient(top, #515161, #515161);
    background-image: -o-linear-gradient(top, #515161, #515161);
    background-image: linear-gradient(to bottom, #515161, #515161);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: right;
    margin-right: 25px;
    margin-top: 5px;
  }
.login-bar{
    background-color: rgba(133, 65, 201, 0.759);
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    background-attachment: scroll;
    padding: 0;
    position: sticky;
    top: 0;
}
input{
    width: 40%;
    height: 3px;
    margin-top: 40px;
    background-color: white;
    position: relative;
    right: 55px;
    top: 30px;
}
.player-info i{
    padding: 10px;
    cursor: pointer;
    position: relative;
    left: 730px;
    top: 15px;
}
.song-playing{
    width: 400px;
    height: 73px;
    background-color: #1b1b1b;
    position: relative;
    top: 10px;
    right: 130px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: black;
    border: 0.1px solid gray;
}
.song-name{
    position: relative;
    left: 70px;
    bottom: 10px;
    font-size: 15px;
    line-height: 1;
    color: white;
}
.song-playing img{
    position: relative;
    left: 50px;
    width: 60px;
    height: 60px;
}
.song-img{
    position: relative;
    top: 7px;
    left: 20px;
    width: 60px;
    height: 60px; 
}
.good-afternoon span{
    font-size: 20px;
    text-align: center;
}



